@model IEnumerable<Department>
@{
    ViewData["Title"] = "All Departments";
}
@if (TempData["Message"] is not null)
{
    <div class="alert-danger alert-success" id="MessageDiv">
        @TempData["Message"]
    </div>
}
<a asp-action="Create" class="btn btn-success">Create New Department</a>
<br />
@{
    if (Model.Any())
    {
        <h1>All Departments</h1>
        <br />
        <table class="table table-striped-columns mt-3">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(D => D.Code)</td>
                    <td>@Html.DisplayNameFor(D => D.Name)</td>
                    <td>@Html.DisplayNameFor(D => D.DateOfCreation)</td>
                    <td>Details</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var dep in Model)
                {
                    <tr>
                        <td>@dep.Code</td>
                        <td>@dep.Name</td>
                        <td>@dep.DateOfCreation</td>
                        <partial name="_ButtonsPartialView" model="@dep.Id.ToString()" />
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="mt-5 alert-danger">
            <h3>There are no departments</h3>
        </div>
    }
}
